.table-view{
    -fx-background-color: #19173C;
    -fx-border-color: transparent;
    -fx-border-width: 1px;
}

.table-view .column-header{
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 18px;
    -fx-border-color: transparent #ffc400;
}

.table-view .column-header .label{
    -fx-text-fill: #ffc400;
}

.table-view .column-header-background{
    -fx-background-color: #19173C;
}

.table-cell{
    -fx-text-fill: white;
}

.table-view .table-row-cell{
    -fx-font-family: "Century Gothic";
    -fx-font-size: 16px;
}

.table-view .table-row-cell:even {
    -fx-background-color: #111F35;
}

.table-view .table-row-cell:odd {
    -fx-background-color: #111f37;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #D62828;
}

.table-view .filler {
    -fx-background-color: transparent;
}
